{{#d-section pageClass="users"}}
  {{#load-more selector=".directory tbody tr" action=(action "loadMore")}}
    <div class="container">
      <div class='directory'>
        {{plugin-outlet name="users-top" connectorTagName='div' args=(hash model=model)}}
        <div class='clearfix'>
          {{text-field value=nameInput placeholderKey="directory.filter_any" class="filter-name no-blur"}}
        </div>

        {{#conditional-loading-spinner condition=model.loading}}
          {{#if model.length}}
            <table>
              <thead>
                <th>&nbsp;</th>
                {{directory-toggle field="country" order=order asc=asc}}
                {{directory-toggle field="organization" order=order asc=asc}}
                {{directory-toggle field="last_seen" order=order asc=asc}}
                {{directory-toggle field="created_at" order=order asc=asc}}
              </thead>
              <tbody>
                {{#each model as |item|}}
                  {{directory-item item=item showTimeRead=showTimeRead}}
                {{/each}}
              </tbody>
            </table>

            {{conditional-loading-spinner condition=model.loadingMore}}
          {{else}}
            <div class='clearfix'></div>
            <p>{{i18n "directory.no_results"}}</p>
          {{/if}}
        {{/conditional-loading-spinner}}

      </div>
    </div>
  {{/load-more}}
{{/d-section}}
