<td>{{user-info user=item.user}}</td>
<td>{{user-icij-info attribute=item.country}}</td>
<td>{{user-icij-info attribute=item.organization_name}}</td>
<td>{{format-duration item.user_last_seen_age}}</td>
<td>{{format-duration item.user_created_at_age}}</td>
